@import "../index.css";

.img1 {
    background-image: url(../assets/img/Biosueros.webp);
}

.img2 {
    background-image: url(../assets/img/Colonterapia.webp);
}

.img3 {
    background-image: url(../assets/img/Criolipolisis.webp);
}

.img4 {
    background-image: url(../assets/img/Dermapen.webp);
}

.img5 {
    background-image: url(../assets/img/Drenajes.webp);
}

.img6 {
    background-image: url(../assets/img/Plasma.webp);
}


.slider {
    position: absolute;
    inset: auto 40px 40px 40px;
    height: 150px;
    background: transparent;
    border-radius: 20px;
}
.slider .slides img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen mantenga su relación de aspecto */
    border-radius: 20px; /* Mantiene el borde redondeado */
}

.slider .slides {
    position: absolute;
    top:63vh;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 25px 20px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    width: 100%;
    height: 400px;
    top: 25vh;
    left: 0;
}

.slider .slides:nth-child(3) {
    left: 0;
}

.slider .slides:nth-child(4) {
    left: 140px;
}

.slider .slides:nth-child(5) {
    left: 280px;
}
.slider .slides:nth-child(6) {
    left: 420px;
    opacity: 1;
}

.slider .slides:nth-child(6) {
    left: calc(50% + 420px);
    background-size: cover;
    opacity: 0;
}

.container {
    padding: 20px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.buttons {
    bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 10;
}

.buttons span {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons span:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}




.buttons span:nth-child(2)::before {
    transform: rotate(135deg) translate(2px, 2px);
}

.buttons span>:active {
    opacity: 0.5;
}

/* Estado inicial del contenido */
.content-info {
    padding: 15px;
    max-width: 550px;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 1;
}

.content-info span {
    font-size: xx-large;
    font-weight: 600;
    color: var(--color-tittle);
}

.content {
    position: relative;
    color: white;
    padding: 0px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateX(40px);
    /* Comienza desplazado hacia la derecha */
    opacity: 0;
    /* Comienza invisible */
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn-info-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.child-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-descr {
    max-height: 100px;
}

/* Cuando el contenido se muestra (slide activo) */
.content.active {
    opacity: 1;
    /* Se vuelve visible cuando está activo */
    transform: translateX(0);
    /* Regresa a su posición original */
    transition-delay: 0.2s;
    /* Retardo corto para suavizar la transición */
}

.container-btn-showmore{
    display: flex;
    width: 100%;
    padding-top: 30px;
    justify-content: center;
}

.content-btn {
    display: flex;
    flex-direction: row; /* flex-row */
    justify-content: center; /* justify-center */
    width: 10rem; /* w-40 */
    color: white; /* text-white */
    font-size: 1.25rem; /* text-xl */
    cursor: pointer; /* cursor-pointer */
    background-color: var(--color-button-alternative); /* bg-darkGreen */
    transition: background-color 0.2s, transform 0.2s, opacity 0.2s; /* transition-all duration-200 ease-in-out */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
    text-align: center; /* text-center */
    display: inline-flex; /* inline-flex */
    border-style: solid;
    border-color: var(--color-button-alternative);
    align-items: center; /* items-center */
    margin-right: 0.5rem; /* mr-2 */
    margin-bottom: 0.5rem; /* mb-2 */
    gap: 0.5rem; /* gap-x-2 */
    opacity: 0.9; /* opacity-90 */
}
.content-btn:hover {
    background-color: var(--color-button-alternative-hover);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* hover:shadow-lg */
    transform: scale(1.1); /* hover:scale-110 */
    
    opacity: 1; /* hover:opacity-100 */
}

.content-btn:focus {
    outline: none; /* focus:outline-none */
}

.content-btn:disabled {
    opacity: 0.5; /* Opacidad para botones deshabilitados */
    cursor: not-allowed; /* cursor-not-allowed */
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-5%);
        /* Reduce el movimiento */
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.content {
    opacity: 0;
    transform: translateX(-5%);
    /* La transición ya está incluida en la animación 'slideIn', por lo que puedes eliminarla aquí */
}

.content.active {
    animation: slideIn 0.2s ease-out forwards;
}

/* RESPONSIVE **************************************RESPONSIVE **************************************RESPONSIVE ************************************** */

@media (max-width: 1440px) {
.slider {
    position: absolute;
    inset: 30px 20px 40px 650px;
}
}

/* responsive carousel */
@media (max-width: 950px) {
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .content{
        position: relative;
        margin-bottom: 10vh;
    }
    .content-info {
        position: absolute;
        top: 0;
        padding: 15px;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
    }
    .content-info {
        padding: 30px;
        width: 100%;
        max-width: none;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .content-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        font-size: 1.0rem;
        cursor: pointer;
        background-color:var(--color-button-alternative);
        transition: background-color 0.2s, transform 0.2s, opacity 0.2s;
        border-radius: 0.5rem;
        padding: 0.4rem 1rem;
        text-align: center;
        display: inline-flex;
        border-style: solid;
        border-color: var(--color-button-alternative);
        align-items: center;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        gap: 0.5rem;
        opacity: 0.9;
    }

    .content-descr{
        font-size: small;
    }

    /* modificando para que se adapte en pantallas pequeñas, cuadros pequeños del slider */
    .slider {
        position: absolute;
        inset: 240px 80px 200px 40px;
    }
    .slider .slides {
        width: 100px;
        height: 100px;
        top: 95vh;
        bottom: -170px;
        box-shadow: 0 25px 20px rgba(0, 0, 0, .5);
    }

    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2) {
        top:50vh;
        bottom: 0px;
        height: 250px;
    }

    .slider .slides:nth-child(3) {
        left: 0;
    }

    .slider .slides:nth-child(4) {
        left: 120px;
    }

    .slider .slides:nth-child(5) {
        left: 240px;
    }

    .slider .slides:nth-child(6) {
        left: 360px;
        opacity: 1;
    }
    .container-btn-showmore{
        padding-top: 0px;
    }
}

@media (max-width: 410px) {
    .slider .slides:nth-child(1), .slider .slides:nth-child(2){
        top: 55vh;
        width: 100vw;
        height: 220px;
    }
}
@media (min-width: 1320px){
    .slider {
        position: absolute;
        inset: 30px 20px 160px 620px;
        background: transparent;
        border-radius: 20px;
    }
}