@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  --color-button-light:rgba(198, 111, 197, 0.865);/*color de boton navbar CONTACTANOS*/
  --color-button-light-hover:rgba(183, 228, 205, 0.865);
  --color-button-alternative:rgb(201, 128, 193); /*color de boton saber mas en slider*/
  --color-button-alternative-hover:rgb(88, 157, 217);
  --color-tittle:rgb(150, 60, 140); /*color de TEXTO saber mas en slider*/
  --color-text-light: #000000; /*color de texto*/
  --color-text-dark: #180530;
  --color-text-gray: #919191;
  --color-underline: #00bcd4; /*aun no se usa*/
  --color-bg-1: #f7fafca8;
  --color-bg-2: #2068af;
  background-color: var(--color-bg-1);

}

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2'),
      url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  }

}